/**
 * FONT PARAMS
 */
/**
 * BASE HEIGHTS
 */
/**
 * BASE PATHS
 */
/**
 * BASE PROJECT COLORS PALETTE
 */
/**
 * BASE SCREEN MEDIA BREAKPOINTS
 */
@font-face {
  font-family: 'opensans';
  font-weight: 400;
  font-style: normal;
  src: url('~assets/fonts/opensans/opensans-regular.woff2') format('woff2'), url('~assets/fonts/opensans/opensans-regular.woff') format('woff');
}
@font-face {
  font-family: 'opensans';
  font-weight: 600;
  font-style: normal;
  src: url('~assets/fonts/opensans/opensans-semibold.woff2') format('woff2'), url('~assets/fonts/opensans/opensans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'opensans';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts/opensans/opensans-bold.woff2') format('woff2'), url('~assets/fonts/opensans/opensans-bold.woff') format('woff');
}
@font-face {
  font-family: 'montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('~assets/fonts/montserrat/montserrat-medium.woff2') format('woff2'), url('~assets/fonts/montserrat/montserrat-medium.woff') format('woff');
}
@font-face {
  font-family: 'montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('~assets/fonts/montserrat/montserrat-semibolditalic.woff2') format('woff2'), url('~assets/fonts/montserrat/montserrat-semibolditalic.woff') format('woff');
}
@font-face {
  font-family: 'montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('~assets/fonts/montserrat/montserrat-semibold.woff2') format('woff2'), url('~assets/fonts/montserrat/montserrat-semibold.woff') format('woff');
}
@font-face {
  font-family: 'montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('~assets/fonts/montserrat/montserrat-bold.woff2') format('woff2'), url('~assets/fonts/montserrat/montserrat-bold.woff') format('woff');
}
.title-primary {
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.02em;
}
.title-secondary {
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.subtitle-primary {
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.subtitle-secondary {
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.01em;
}
.content-primary {
  font-family: 'opensans';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #636363;
}
.content-secondary {
  font-family: 'opensans';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #636363;
}
.caption-primary {
  font-family: 'opensans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
.caption-secondary {
  font-family: 'opensans';
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}
/* стили для мноточия '…' */
.multyline-overflow-ellipsis {
  /* спрятать текст если у более N строк */
  overflow: hidden;
  /* для установки '…' в абсолютную позицию */
  position: relative;
  /* используйте это значение для расчёта высоты блока */
  line-height: 1.3em;
  /* max-height = line-height (1.2) * число строк (3) */
  max-height: 3.6em;
  /* исправлиление проблемы когда последнее слово не соединяется с правой стороны */
  text-align: justify;
  /* место для многоточия '…' */
  padding-right: 0.9em;
}
/* создаём многоточие … */
.multyline-overflow-ellipsis:before {
  /* многоточие в конце */
  content: '…';
  /* абсолютное позиционирование */
  position: absolute;
  /* установить позицию в правый нижний угол блока */
  right: 2px;
  bottom: 3px;
}
/* спрятать многоточие … если у нас есть текст, который меньше или равен количеству максимальный строк */
.multyline-overflow-ellipsis:after {
  content: '';
  position: absolute;
  /* установить позицию в правый нижний угол блока */
  right: 0;
  /* установить width и height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* цвет фона перед блоком */
  background: white;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body.popup-open {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
button {
  background-color: transparent;
  outline: none;
  border: 1px solid  transparent;
}
input {
  outline: none;
}
li {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 960px;
}
@media (max-width: 1023px) {
  .container {
    max-width: 375px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
}
.store {
  background-color: #FBFBFC;
}
/* стили для мноточия '…' */
.multyline-overflow-ellipsis {
  /* спрятать текст если у более N строк */
  overflow: hidden;
  /* для установки '…' в абсолютную позицию */
  position: relative;
  /* используйте это значение для расчёта высоты блока */
  line-height: 1.3em;
  /* max-height = line-height (1.2) * число строк (3) */
  max-height: 3.6em;
  /* исправлиление проблемы когда последнее слово не соединяется с правой стороны */
  text-align: justify;
  /* место для многоточия '…' */
  padding-right: 0.9em;
}
/* создаём многоточие … */
.multyline-overflow-ellipsis:before {
  /* многоточие в конце */
  content: '…';
  /* абсолютное позиционирование */
  position: absolute;
  /* установить позицию в правый нижний угол блока */
  right: 2px;
  bottom: 3px;
}
/* спрятать многоточие … если у нас есть текст, который меньше или равен количеству максимальный строк */
.multyline-overflow-ellipsis:after {
  content: "";
  position: absolute;
  /* установить позицию в правый нижний угол блока */
  right: 0;
  /* установить width и height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* цвет фона перед блоком */
  background: white;
}
